Tahmine Dayalı Değer Atama Yöntemleri

In [1]:
import seaborn as sns
import missingno as msno
df = sns.load_dataset('titanic')
df = df.select_dtypes(include= ['float64','int64'])
print(df.head())
df.isnull().sum()

   survived  pclass   age  sibsp  parch     fare
0         0       3  22.0      1      0   7.2500
1         1       1  38.0      1      0  71.2833
2         1       3  26.0      0      0   7.9250
3         1       1  35.0      1      0  53.1000
4         0       3  35.0      0      0   8.0500

survived      0
pclass        0
age         177
sibsp         0
parch         0
fare          0
dtype: int64

In [2]:
import ssl
ssl._create_default_https_context = ssl._create_unverified_context
##Titanic datası SSl hatası verdiği için bu kütüphane çalıştırılmıştır.

In [3]:
pip install ycimpute

Requirement already satisfied: ycimpute in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (0.2)
Requirement already satisfied: six in /Users/mehmetsenel/Library/Python/3.11/lib/python/site-packages (from ycimpute) (1.16.0)
Requirement already satisfied: numpy>=1.10 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from ycimpute) (1.26.4)
Requirement already satisfied: scipy in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from ycimpute) (1.14.1)
Requirement already satisfied: scikit-learn>=0.17.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from ycimpute) (1.5.2)
Requirement already satisfied: torch>=1.1.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from ycimpute) (2.4.1)
Requirement already satisfied: joblib>=1.2.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from scikit-learn>=0.17.1->ycimpute) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from scikit-learn>=0.17.1->ycimpute) (3.5.0)
Requirement already satisfied: filelock in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from torch>=1.1.0->ycimpute) (3.16.1)
Requirement already satisfied: typing-extensions>=4.8.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from torch>=1.1.0->ycimpute) (4.12.2)
Requirement already satisfied: sympy in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from torch>=1.1.0->ycimpute) (1.13.3)
Requirement already satisfied: networkx in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from torch>=1.1.0->ycimpute) (3.3)
Requirement already satisfied: jinja2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from torch>=1.1.0->ycimpute) (3.1.4)
Requirement already satisfied: fsspec in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from torch>=1.1.0->ycimpute) (2024.9.0)
Requirement already satisfied: MarkupSafe>=2.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from jinja2->torch>=1.1.0->ycimpute) (2.1.5)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from sympy->torch>=1.1.0->ycimpute) (1.3.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
from ycimpute.imputer import knnimput

In [5]:
var_names = list(df)

In [6]:
import numpy as np
n_df = np.array(df)

In [7]:
n_df[0:10]

array([[ 0.    ,  3.    , 22.    ,  1.    ,  0.    ,  7.25  ],
       [ 1.    ,  1.    , 38.    ,  1.    ,  0.    , 71.2833],
       [ 1.    ,  3.    , 26.    ,  0.    ,  0.    ,  7.925 ],
       [ 1.    ,  1.    , 35.    ,  1.    ,  0.    , 53.1   ],
       [ 0.    ,  3.    , 35.    ,  0.    ,  0.    ,  8.05  ],
       [ 0.    ,  3.    ,     nan,  0.    ,  0.    ,  8.4583],
       [ 0.    ,  1.    , 54.    ,  0.    ,  0.    , 51.8625],
       [ 0.    ,  3.    ,  2.    ,  3.    ,  1.    , 21.075 ],
       [ 1.    ,  3.    , 27.    ,  0.    ,  2.    , 11.1333],
       [ 1.    ,  2.    , 14.    ,  1.    ,  0.    , 30.0708]])

In [8]:
n_df.shape

(891, 6)

In [9]:
dff = knnimput.KNN(k=4).complete(n_df)

Imputing row 1/891 with 0 missing, elapsed time: 0.096
Imputing row 101/891 with 0 missing, elapsed time: 0.097
Imputing row 201/891 with 0 missing, elapsed time: 0.098
Imputing row 301/891 with 1 missing, elapsed time: 0.098
Imputing row 401/891 with 0 missing, elapsed time: 0.098
Imputing row 501/891 with 0 missing, elapsed time: 0.099
Imputing row 601/891 with 0 missing, elapsed time: 0.099
Imputing row 701/891 with 0 missing, elapsed time: 0.100
Imputing row 801/891 with 0 missing, elapsed time: 0.100

In [10]:
type(dff)

numpy.ndarray

In [11]:
import pandas as pd
dff = pd.DataFrame(dff,columns=var_names)

In [12]:
dff

     survived  pclass        age  sibsp  parch     fare
0         0.0     3.0  22.000000    1.0    0.0   7.2500
1         1.0     1.0  38.000000    1.0    0.0  71.2833
2         1.0     3.0  26.000000    0.0    0.0   7.9250
3         1.0     1.0  35.000000    1.0    0.0  53.1000
4         0.0     3.0  35.000000    0.0    0.0   8.0500
..        ...     ...        ...    ...    ...      ...
886       0.0     2.0  27.000000    0.0    0.0  13.0000
887       1.0     1.0  19.000000    0.0    0.0  30.0000
888       0.0     3.0  26.026414    1.0    2.0  23.4500
889       1.0     1.0  26.000000    0.0    0.0  30.0000
890       0.0     3.0  32.000000    0.0    0.0   7.7500

[891 rows x 6 columns]

In [13]:
dff.isnull().sum()

survived    0
pclass      0
age         0
sibsp       0
parch       0
fare        0
dtype: int64

In [14]:
##random forest ile boşlukları doldurma

In [15]:
import seaborn as sns
import missingno as msno
df = sns.load_dataset('titanic')
df = df.select_dtypes(include= ['float64','int64'])
print(df.head())
df.isnull().sum()

   survived  pclass   age  sibsp  parch     fare
0         0       3  22.0      1      0   7.2500
1         1       1  38.0      1      0  71.2833
2         1       3  26.0      0      0   7.9250
3         1       1  35.0      1      0  53.1000
4         0       3  35.0      0      0   8.0500

survived      0
pclass        0
age         177
sibsp         0
parch         0
fare          0
dtype: int64

In [16]:
var_names = list(df)

In [17]:
n_df = np.array(df)

In [19]:
##from ycimpute.imputer import iterforest
##dff = iterforest.IterImput().complete(n_df)

In [ ]:
## iterforest kütüphanesinde sorun olması nedeniyle alternatif bulunuamadı devam edilemedi

EM tahmine dayalı atama

In [20]:
import seaborn as sns
import missingno as msno
df = sns.load_dataset('titanic')
df = df.select_dtypes(include= ['float64','int64'])
print(df.head())
df.isnull().sum()

   survived  pclass   age  sibsp  parch     fare
0         0       3  22.0      1      0   7.2500
1         1       1  38.0      1      0  71.2833
2         1       3  26.0      0      0   7.9250
3         1       1  35.0      1      0  53.1000
4         0       3  35.0      0      0   8.0500

survived      0
pclass        0
age         177
sibsp         0
parch         0
fare          0
dtype: int64

In [21]:
from ycimpute.imputer import EM

In [22]:
var_names = list(df)

In [23]:
import numpy as np 
n_df = np.array(df)

In [24]:
dff = EM().complete(n_df)

In [25]:
dff = pd.DataFrame(dff,columns=var_names)
dff.isnull().sum()

survived    0
pclass      0
age         0
sibsp       0
parch       0
fare        0
dtype: int64